@import "../../styles/variables.scss";

.tabRoot {
    width: 750px;
    margin: 0 auto;
    min-height: 300px;
    background-color: white;
    border-top-right-radius: 20px;
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        font-size: 16px;
        background: #1a237e;
        color: #ffffff;
        border-top-right-radius: 20px;
    }
    .formWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
        border-bottom: 1px solid #e1e1e1;
        padding: 25px 0 48px;
        .label {
            padding: 10px 3px;
            margin: 0 auto;
            margin-left: 140px;
        }
        .inputsWrapper {
            display: flex;
            justify-content: space-between;
            width: 490px;
            .dropdown {
                position: relative;
                display: flex;
                width: 95px;
                margin-bottom: 40px;
                height: 40px;
                @media screen and (max-width: 900px) {
                    top: 40px;
                }
                .dropdownBtn {
                    display: flex;
                    padding: 9px 10px;
                    justify-content: space-between;
                    align-items: center;
                    background: #ffffff;
                    border: 1px solid #1a237e;
                    border-radius: 5px;
                    cursor: pointer;
                    &:first-child {
                        margin-right: 5px;
                    }
                    &:last-child {
                        margin-right: 15px;
                    }
                    span {
                        padding-left: 16.5px;
                        svg {
                            position: relative;
                            top: -2px;
                        }
                    }
                    @media screen and (max-width: 900px) {
                        width: 150px;
                        height: 4px;
                        margin: 0;
                    }
                }
                .dropdownContent1 {
                    position: absolute;
                    text-indent: 10px;
                    top: 40px;
                    padding-top: 5px;
                    border-radius: 4px;
                    width: 78px;
                    z-index: 1;
                    background: #ffffff;
                    border: 1px solid #1a237e;
                    cursor: pointer;
                    &::-webkit-scrollbar {
                        background: transparent;
                    }
                    .dropdownItem {
                        width: 100%;
                        line-height: 22px;
                    }
                    .dropdownItem:hover {
                        background: rgba(26, 35, 126, 0.2);
                    }
                }
                .dropdownContent2 {
                    position: absolute;
                    text-indent: 10px;
                    left: +90%;
                    top: 40px;
                    padding-top: 5px;
                    border-radius: 4px;
                    width: 78px;
                    z-index: 1;
                    background: #ffffff;
                    border: 1px solid #1a237e;
                    cursor: pointer;
                    &::-webkit-scrollbar {
                        background: transparent;
                    }
                    .dropdownItem {
                        width: 100%;
                        line-height: 22px;
                    }
                    .dropdownItem:hover {
                        background: rgba(26, 35, 126, 0.2);
                    }
                }
            }
            @media (max-width: 600px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        .resultBtn {
            padding: 10px 20px;
            margin-left: 20px;
            @media (max-width: 600px) {
                margin-top: 20px;
            }
        }
    }
    .resultWrapper {
        height: 160px;
        .conversionResult {
            margin: 0 auto;
            margin-top: 25px;
            width: 420px;
            .resultTitle {
                font-size: 12px;
            }
            .resultSum {
                margin-top: 2px;
                font-size: 25px;
            }
        }
    }
}
