@import '../../styles/variables.scss';

.tabRoot {
    max-width: 750px;
    width: 100%;
    height: 300px;
    background-color: white;
    .formWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
        border-bottom: 1px solid #e1e1e1;
        padding: 25px 0 48px;
        label {
            padding: 10px 3px;
            margin: 0 auto;
        }
        .inputsWrapper {
            @media (max-width: 600px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        select {
            margin-right: 5px;
            padding: 10px 30px 10px 20px;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #1a237e;
            font-size: 16px;
            line-height: 18px;
            appearance: none;
            background-color: #fff;
            background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='' clip-rule='evenodd' d='M4.50495 5.78413L0.205241 1.25827C-0.0684138 0.970375 -0.0684138 0.503596 0.205241 0.215836C0.478652 -0.0719461 0.922098 -0.071946 1.19549 0.215837L5.00007 4.22052L8.80452 0.215953C9.07805 -0.0718292 9.52145 -0.0718292 9.79486 0.215953C10.0684 0.503736 10.0684 0.970492 9.79486 1.25839L5.49508 5.78425C5.35831 5.92814 5.17925 6 5.00009 6C4.82085 6 4.64165 5.928 4.50495 5.78413Z' fill='%231A237E'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat, repeat;
            background-position: right 0.7em top 50%, 0 0;
            background-size: 0.65em auto, 100%;
            @media (max-width: 600px) {
                margin-top: 10px;
            }
            &:active,
            &:focus {
                border: 1px solid #111755;
                outline: none;
            }

            .error {
                border: $error;
            }
            .error:active,
            .error:focus {
                border: 1px solid #901212;
            }
        }
        .resultBtn {
            padding: 10px 20px;
            margin-left: 20px;
            @media (max-width: 600px) {
                margin-top: 20px;
            }
        }
    }
    .resultWrapper {
        height: 160px;
        .conversionResult {
            margin: 0 auto;
            margin-top: 25px;
            width: 420px;
            .resultTitle {
               font-size: 12px;
            }
            .resultSum {
                margin-top: 2px;
                font-size: 25px;
            }
        }
    }
}
