.app {
    min-height: 100vh;
    header {
        display: flex;
        justify-content: space-between;
        padding: 45px;
    }
    .headerTitle {
        padding-left: 20px;
        font-style: italic;
        line-height: 32px;
        font-weight: 700;
        font-size: 24px;
    }
    .mainContent {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}
